<div>
  <section>
  {{> avatar/avatar src='{{avatar}}' }}
  </section>
  
  <section>
    <title>{{name}}</title>
    <span>{{personMessage}}</span>
    <span>Ğ’Ñ‹:&nbsp;{{userMessage}}</span>
  </section>
</div>