<div>
  <section>
  {{> avatar/avatar src='{{avatar}}' class='chat-list-item' }}
  </section>
  
  <section>
    <span>{{name}}</span>
    <span>{{personMessage}}</span>
    <span>Ğ’Ñ‹:&nbsp;{{userMessage}}</span>
  </section>
</div>