.button-text {
  background-color: #fbfbfb;
  border: transparent;
  cursor: pointer;
  color: #999;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.button-img {
  background-color: #ffffff;
  border: transparent;
  cursor: pointer;
}
