<link rel='stylesheet' href='/src/components/person-data/person-data.scss' />
<div class="person-chat-header">
  <div class="person-data">
    {{> avatar/avatar src='{{avatar}}' }}

    <h3 class='person-data-title'>{{personName}}</h3>
  </div>

  <div class="dots-menu">&#xFE19;</div>
</div>


